<md-content layout-padding>
    <div layout="row" layout-align="center">
        <h2>Login</h2>
    </div>
    <form flex ng-submit="$ctrl.login()">
        <div layout="row" layout-align="center">
            <md-input-container flex-gt-sm="30" flex="100" class="md-block">
                <label>Email</label>
                <input name="email" type="email" ng-model="$ctrl.user.email" required>
                <div ng-messages="userLoginForm.email.$error">
                    <div ng-message="required">An email address is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center">
            <md-input-container flex-gt-sm="30" flex="100" class="md-block">
                <label>Password</label>
                <input name="password" type="password" ng-model="$ctrl.user.password" required>
                <div ng-messages="userLoginForm.password.$error">
                    <div ng-message="required">A password is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center">
            <md-button class="md-raised" type="submit">Login</md-button>
        </div>
        <div layout="row" layout-align="center">
            <h5>Don't have an account? <a href="/register">Create an account here</a></h5>
        </div>
    </form>
</md-content>