<md-content layout="column" layout-align="center center">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Create an account</span>
                <span class="md-subhead">Have an account? <a href="/login">Login here</a></span>
            </md-card-title-text>
        </md-card-title>
        <form name="registerForm" ng-submit="vm.registerUser()">
            <md-card-content layout="column">
                <md-input-container>
                    <label>First name</label>
                    <input name="firstname" type="text" ng-model="vm.user.firstname" required>
                    <div ng-messages="registerForm.firstname.$error">
                        <div ng-message="required">A first name is required</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Last name</label>
                    <input name="lastname" type="text" ng-model="vm.user.lastname" required>
                    <div ng-messages="registerForm.lastname.$error">
                        <div ng-message="required">A last name is required</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input name="email" type="email" ng-model="vm.user.email" required>
                    <div ng-messages="registerForm.email.$error">
                        <div ng-message="required">An email address is required</div>
                        <div ng-message="email">Must a valid email address</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input name="password" type="password" ng-model="vm.user.password" required minlength="8">
                    <div ng-messages="registerForm.password.$error">
                        <div ng-message="required">A password is required</div>
                        <div ng-message="minlength">Password must be at least 8 characters</div>
                    </div>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-disabled="registerForm.$invalid" type="submit">Register</md-button>
            </md-card-actions>
        </form>
    </md-card>
</md-content>