<md-toolbar ng-cloak>
    <div class="md-toolbar-tools">
        <h2><a href="/"><span>App</span></a></h2>
        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)"><md-icon>person</md-icon></md-button>
            <md-menu-content width="4">
                <md-menu-item ng-if="vm.userLoggedIn() == false">
                    <md-button ng-click="vm.goLogin()">
                        Login
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="vm.userLoggedIn() == false">
                    <md-button ng-click="vm.goRegister()">
                        Register
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="vm.userLoggedIn() == true">
                    <md-button ng-click="vm.logout()">
                        Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>