<md-toolbar>
    <div class="md-toolbar-tools" layout="row" flex="auto" layout-align="space-between">
        <div layout="column" layout-align="center center">
            <md-button ng-href='/'>App</md-button>
        </div>
        <div ng-if="!vm.isUserLoggedIn()" layout="column" layout-align="center center">
            <md-button ng-click="vm.navTo('/login')">Login</md-button>
        </div>
        <md-menu ng-if="vm.isUserLoggedIn()">
            <md-button ng-click="$mdMenu.open($event)">
                <md-icon>person</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="vm.logout()">
                        Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>