<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Untitled</title>
    <base href="/">
    <link rel="stylesheet" href="static/public/app-bundle-styles.css">
    <link rel="stylesheet" href="static/public/libs-bundle-styles.css">
    <script src="static/public/libs-bundle.js"></script>
    <script src="static/public/app-bundle.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="App">
    <navbar></navbar>
    <div ng-view ng-cloak layout="column"></div>
</body>
</html>