<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-angular-starter</title>
    <base href="/">
</head>
<body ng-app="App">
    <navbar></navbar>
    <div ng-view ng-cloak layout="column"></div>
</body>
</html>