<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Flask-angular-starter</title>
    <base href="/">

    <meta name="description" content="Application built with Flask and Angular Material">
        
    <meta property="og:title" content="Flask angular starter app">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="Application built with Flask and Angular Material">
    <meta property="og:site_name" content="Flask-angular-starter">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="">

    <!-- Favicon links -->

</head>
<body ng-app="App">
    <navbar flex="auto"></navbar>
    <div ng-view ng-cloak layout="column" flex="auto"></div>
</body>
</html>